@import "tailwindcss";

@source "../views";
@source "../../resources/views";

@utility container {
  margin-inline: auto;
}
 

@font-face {
    font-family: "Hanken Grotesk";
    src: url("/fonts/HankenGrotesk-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("/fonts/HankenGrotesk-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}